<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Create a new post</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/photos">Photos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/photos" method="POST">
      Title: <input type="text" name="title"><br/>
      Description: <input type="text" name="description"><br/>
      Address: <input type="url" name="url"><br/>
      <button type="submit">Create Author</button>
    </form>
  </main>
</body>
</html>
