<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Create a new user</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/users" method="POST">
      Name: <input type="text" name="name"><br/>
      Username: <input type="text" name="username"><br/>
      Password: <input type="text" name="password"><br/>
      <button type="submit">Create new user</button>
    </form>
  </main>
</body>
</html>